html
    head 
        title=title + " | API Keys"
        link(rel="icon", href=image_url)
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js") 
        link(rel="stylesheet" href="/css/styles.css")

    body(style='background-image: url(' + background_image_url + ');')
        //- Navigation
        nav.navbar.navbar-expand-lg.bg-body-tertiary
            div.container
                a.navbar-brand(href="/")
                    img(src=image_url alt=image_alt height="30" width="auto")
                    p(style="display: inline; margin-left: 10px; vertical-align: middle;")=title
                button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#cmsNav" aria-controls="cmsNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse#cmsNav
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="/dashboard") Dashboard
                        li.nav-item
                            a.nav-link(href="#") Link
                        li.nav-item
                            a.nav-link(href="#") Link
                        li.nav-item
                            a.nav-link(href="#") Link
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle.active(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Admin
                            ul.dropdown-menu
                                li
                                    a.dropdown-item.active(href="/admin/categories" aria-current="page" style="cursor: pointer;") Categories
                                li
                                    a.dropdown-item(href="/admin/create-category" style="cursor: pointer;") Create Category
                                li
                                    a.dropdown-item(href="/admin/api-keys" style="cursor: pointer;") API Keys
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item(href="/admin/users" style="cursor: pointer;") Users
                        li.nav-item
                            a.nav-link.text-danger.active(href="/login/logout") Log Out

        div.row.g-0.justify-content-center

            //- Content Container
            div.container.col-md-8.col-10.__admin_content
                div.__notification_container
                    if give_alert
                        if give_alert.type == 'success'
                            div.__notification.alert.alert-success.text-center#ShadowCMSAlert
                                img(src="/images/icons/success.png" height="100" width="100")
                                p #{give_alert.message}
                                script. 
                                    setTimeout(() => {
                                        document.getElementById("ShadowCMSAlert").classList.add("__invisible_key");
                                    }, 2500)
                        else if give_alert.type == 'error'
                            div.__notification.alert.alert-danger.text-center#ShadowCMSAlert
                                p #{give_alert.message}
                                    script. 
                                        setTimeout(() => {
                                            document.getElementById("ShadowCMSAlert").classList.add("__invisible_key");
                                        }, 2500)
                div.mt-5
                    div.__admin_header_container
                    div.__admin_header
                        h1.text-center.mt-2 API Keys
                        p#counter
                        p.w-100.text-center.text-muted Create API keys to access your CMS
                    div.__admin_heading
                        div.row.justify-content-center.g-0
                            form.col-10#NewCategoryForm(action="/admin/api-keys" method="POST")
                                div.mb-5
                                    label.form-label.col-md-6(for="KeyName") Name for the API key 
                                    input.form-control#KeyName(type="text" name="name" required)

                                div.row.justify-content-center 
                                    button.btn.btn-success.__category_submit_button(style="width: auto; height: auto;" type="submit") Add API Key
                                
                            .row.g-0.col-10.justify-content-center
                                div.__api_key_list_container
                                    each key in api_keys 
                                        div.__api_key_list_item 
                                            div.__api_key_list_item_buttons
                                                button.__icon.__delete_icon(type="button" data-bs-toggle="modal" data-bs-target="#ModalDeleteFor"+key.key)
                                                    img(src="/images/icons/trash.png" height="20" width="20" style="display: inline;")
                                                button.__icon.__settings_icon(type="button" data-bs-toggle="modal" data-bs-target="#ModalForCategoriesFor"+key.key)
                                                    img(src="/images/icons/settings.png" height="20" width="20" style="display: inline;")
                                                button.__icon.__info_icon(type="button" data-bs-toggle="modal" data-bs-target="#ModalFor"+key.key)
                                                    img(src="/images/icons/info.png" height="20" width="20" style="display: inline;")
                                                button.__icon.__copy_icon(type="button" onclick=`createCopy("${key.key}")`)
                                                    img(src="/images/icons/copy.png" height="20" width="20" style="display: inline;")
                                            h4.__api_key_list_name(data-bs-toggle="modal" data-bs-target="#ModalFor"+key.key) #{key.name}
                                            p.__invisible_key(id=key.key) #{key.key}

                                        div.modal(id="ModalDeleteFor"+key.key tabindex="-1")
                                            div.modal-dialog 
                                                div.modal-content 
                                                    div.modal-header 
                                                        h5.modal-title Delete #{key.name}?
                                                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                                    div.modal-body
                                                        p Are you sure you want to delete the api key for #{key.name}?
                                                        p You will no longer be able to use the key to access your content.
                                                        a.btn.btn-danger.__modal_delete_button(href="/admin/delete-api-key?key="+key.key) Delete
                                                        button.btn.btn-success(type="button" data-bs-dismiss="modal") Cancel
                                                    
                                        div.modal(id="ModalFor"+key.key)
                                            div.modal-dialog 
                                                div.modal-content 
                                                    div.modal-header
                                                        h4.modal-title API Key Info
                                                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                                    div.modal-body 
                                                        p API Key Name: #{key.name}
                                                        p API Key: #{key.key}
                                                        p Categories: #{key.categories}
                                                        p Created on: #{key.createdAt}
                                                        button.btn.btn-danger.__modal_delete_button(type="button" data-bs-toggle="modal" data-bs-target="#ModalDeleteFor"+key.key) Delete
                                        
                                        div.modal(id="ModalForCategoriesFor"+key.key)
                                            div.modal-dialog 
                                                div.modal-content 
                                                    div.modal-header
                                                        h4.modal-title API Key Info
                                                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                                    div.modal-body 
                                                        h5 Key: #{key.name}
                                                        p Set categories for access
                                                        form(id="CategoryFormFor"+key.key action="/admin/api-key-categories?key="+key.key method="POST")
                                                            if categories.length != 0
                                                                for category in categories 
                                                                    script.
                                                                        var category = "#{category.name}"
                                                                        var key = "#{key.key}"
                                                                        var current_categories = "#{key.categories}"
                                                                        var form = document.getElementById("CategoryFormFor"+key);
                                                                        if(current_categories.includes(category)) {
                                                                            var checkedCheckbox = document.createElement('input');
                                                                            checkedCheckbox.type = "checkbox";
                                                                            checkedCheckbox.classList.add("form-check-input");
                                                                            checkedCheckbox.id = category;
                                                                            checkedCheckbox.name = category;
                                                                            checkedCheckbox.checked = true;
                                                                            var label = document.createElement('label');
                                                                            label.classList.add("form-check-label");
                                                                            label.for = category;
                                                                            label.innerHTML = category;
                                                                            var linebreak = document.createElement("br");
                                                                            form.appendChild(checkedCheckbox);
                                                                            form.appendChild(label);
                                                                            form.appendChild(linebreak);
                                                                        } else {
                                                                            var checkedCheckbox = document.createElement('input');
                                                                            checkedCheckbox.type = "checkbox";
                                                                            checkedCheckbox.classList.add("form-check-input");
                                                                            checkedCheckbox.id = category;
                                                                            checkedCheckbox.name = category;
                                                                            checkedCheckbox.checked = false;
                                                                            var label = document.createElement('label');
                                                                            label.classList.add("form-check-label");
                                                                            label.for = category;
                                                                            label.innerHTML = category;
                                                                            var linebreak = document.createElement("br");
                                                                            form.appendChild(checkedCheckbox);
                                                                            form.appendChild(label);
                                                                            form.appendChild(linebreak);
                                                                        }
                                                            else
                                                                p No Categories Set
                                                            
                                                            button.btn.btn-success(type="submit") Modify
                                                    


        script.
            async function createCopy(id) {
                let key = document.getElementById(id)
                await navigator.clipboard.writeText(key.textContent)
            }