html
    head 
        title=title + " | Schema"
        link(rel="icon", href=image_url)
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js") 
        link(rel="stylesheet", href="/css/styles.css")
    
    body(style='background-image: url(' + background_image_url + ');')
        //- Navigation
        nav.navbar.navbar-expand-lg.bg-body-tertiary
            div.container
                a.navbar-brand(href="/")
                    img(src=image_url alt=image_alt height="30" width="auto")
                    p(style="display: inline; margin-left: 10px; vertical-align: middle;")=title
                button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#cmsNav" aria-controls="cmsNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse#cmsNav
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="/dashboard") Dashboard
                        li.nav-item
                            a.nav-link(href="#") Link
                        li.nav-item
                            a.nav-link(href="#") Link
                        li.nav-item
                            a.nav-link(href="#") Link
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle.active(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Admin
                            ul.dropdown-menu
                                li
                                    a.dropdown-item.active(href="/admin/schema" aria-current="page" style="cursor: pointer;") Schema
                                li
                                    a.dropdown-item(href="/admin/create-category" style="cursor: pointer;") Create Category
                                li
                                    a.dropdown-item(href="#" style="cursor: pointer;") Link
                                li
                                    a.dropdown-item(href="#" style="cursor: pointer;") Link
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item(href="#" style="cursor: pointer;") Link
                        li.nav-item
                            a.nav-link.text-danger.active(href="/login/logout") Log Out

        div.row.g-0.justify-content-center

            //- Content Container
            div.container.col-md-8.col-10
                div.mt-5
                    div.__schema_header_container
                        div.card.__schema_header
                            h1.text-center.mt-2 Schema
                            p.w-100.text-center.text-muted This is how your content is set up
                        div.card.__schema_heading
                            div.row.g-0.justify-content-center
                                div.col-10.__table_container
                                    if tables.length > 1
                                        each table, index in tables 
                                            if table != 'users'
                                                table.table.__schema_table
                                                    thead 
                                                        tr 
                                                            th #{table.toUpperCase()}
                                                                a(href="#" + table).__icon.__edit_icon
                                                                    img(src="/images/icons/edit.png")
                                                                a(href="/admin/delete-category?table=" + table).__icon.__delete_icon
                                                                    img(src="/images/icons/trash.png")
                                                    tbody 
                                                        tr  
                                                            td
                                                                each cols, col_index in columns[index][0] 
                                                                        if col_index > 0
                                                                            p #{cols.name}
                                                hr
                                    else 
                                        h3.text-center(style="margin: 3rem;") You don't have any categories set!